/*-------------------------------------------------Globals--------------------------------------------------------*/

* {
    padding: 0;
    font-family: 'Poppins', sans-serif;

    margin: 0;
}

body {
    height: 100vh;
    background: rgb(0, 64, 162);
    background: radial-gradient(circle, rgba(0, 64, 162, 1) 0%, rgba(0, 21, 61, 1) 100%);
    backdrop-filter: blur(35px);

}


/*--------------------------------------------------- MAIN -----------------------------------------------------------*/





nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fffffffb;
    background-color: rgb(17, 17, 17);
    padding: 10px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.694);

}


nav p {

    color: #cadcff;
    font-weight: 500;


}

nav p:hover {

    color: #98bbff;
    cursor: pointer;


}

nav .name {
    margin: 0 10rem;
    color: #cadcff;
    font-weight: bold;
    font-size: 1.25rem;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 50%;
    padding: 50px;
    transform: translate(-50%, -50%);
}





.board {
    background-size: 400% 400%;
    position: relative;
    margin: 100px auto;
    width: 315px;
    height: 315px;
    background-blend-mode: multiply;
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.669);
    border-left: 1px solid rgba(255, 255, 255, 0.632);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.422);
    border-radius: 3px;
    width: 300px;
    height: 300px;
    display: grid;
    align-self: center;
    cursor: pointer;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.cell {
    text-align: center;
    border: 1.5px solid rgb(136, 196, 255);
    display: flex;
    font-size: 65px;
    color: #fffffffb;
    justify-content: center;
    align-items: center;
    text-shadow:

        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}

.board :hover {
    background-color: #cfe6ff21;
    color: rgb(17, 255, 255);

}


/*------------------------------------------If winner is  ' X ' -------------------------------------------------*/

.banner {
    text-align: center;
    align-items: center;
    width: 300px;
    height: 300px;
    z-index: 1;
    background-color: rgb(239, 239, 239);
    color: rgb(0, 0, 0);
    justify-content: center;
    position: absolute;
    top: 50%;
    position: fixed;
    display: none;
    left: 50%;
    box-shadow: 0px 2px 2px rgb(0, 162, 255);
    transform: translate(-50%, -50%);
    padding: 10px;
    border: 2px solid rgb(0, 145, 255);
}

h1 {
    margin: 10px 0 0 0;
    font-size: 50px;
    padding-bottom: 15px;
}

h2 {
    margin: 20px auto;
    font-size: 35px;
}








/*------------------------------------------ Draw  -------------------------------------------------*/

.draw {
    text-align: center;
    align-items: center;
    width: 300px;
    height: 300px;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    color: white;
    justify-content: center;
    position: absolute;
    top: 50%;
    position: fixed;
    display: none;
    left: 50%;
    box-shadow: 0px 2px 2px rgb(0, 162, 255);
    transform: translate(-50%, -50%);
    padding: 10px;
    border: 2px solid rgb(0, 145, 255);
    transition: all ease .8s;
}

.draw h1 {
    margin: 50px 0 0 0;
    font-size: 30px;
    padding-bottom: 15px;
}

.draw h3 {
    margin: 25px 0 0 0;
    font-size: 30px;
    padding-bottom: 15px;
}

.draw button {
    margin: 30px;
    border: none;
    padding: 20px;
    background-color: rgb(0, 128, 255);
    color: white;
    transition: all ease 0.3s;
    font-size: 20px;
    border: 1px solid black;
}

.draw button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    border: 2px solid white;
}


/*------------------------------------Utility Classes----------------------------------------*/

.bt-0 {
    border-top: 0;
}

.br-0 {
    border-right: 0;
}

.bb-0 {
    border-bottom: 0;
}

.bl-0 {
    border-left: 0;
}

#turn {
    color: #aeceff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    margin-left: 1rem;
    margin-top: 5rem;
    /* display: none; */
    /* position: relative; */
}

.resetGame {
    display: flex;
    margin-top: -5rem;
    justify-content: center;
    align-items: center;
}

.resetGame input {
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    background-color: #cadcff;

}


/*-----------------------------------------------------------*/

@media screen and (max-width:320px) {
    .board {
        width: 180px;
        height: 180px;
        display: grid;
        align-self: center;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
        position: fixed;
        top: -25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .cell {
        font-size: 35px;
    }

    header h3 {
        font-size: 0.85rem;
        display: flex;
    }

    #turn {
        font-size: 0.85rem;
    }
}

@media screen and (min-width:320px) {
    .board {
        width: 200px;
        height: 200px;
        display: grid;
        align-self: center;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
        position: fixed;
        top: -25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .cell {
        font-size: 35px;
    }

    header h3 {
        font-size: 0.85rem;
        display: flex;
    }

    #turn {
        font-size: 0.85rem;
    }

    nav p {
        font-size: .7rem;

    }
}

@media screen and (min-width:375px) {
    .board {
        width: 250px;
        height: 250px;
        display: grid;
        align-self: center;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
        position: fixed;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .cell {
        font-size: 35px;
    }

    header h3 {
        font-size: 0.85rem;
        display: flex;
    }

    #turn {
        font-size: 1rem;
    }

    nav p {
        font-size: .9rem;

    }


}

@media screen and (min-width:425px) {
    .board {
        width: 200px;
        height: 200px;
        display: grid;
        align-self: center;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    }

    .cell {
        font-size: 35px;
    }

    header h3 {
        font-size: 0.85rem;
        display: flex;
    }

    #turn {
        font-size: 0.85rem;
        font-size: 1rem;
    }

    .banner1 {
        width: 200px;
        height: 200px;
    }

    .banner {
        width: 200px;
        height: 200px;
    }

    nav p {
        font-size: .9rem;

    }



}

@media screen and (min-width:422px) {
    .board {
        margin-top: 8rem;
        width: 325px;
        height: 325px;
        display: grid;
        align-self: center;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    }

    .cell {
        font-size: 70px;
    }

    header h3 {
        font-size: 1rem;
        display: flex;
    }


}


@media screen and (min-width:422px) and (max-width:500) {

    nav p {
        font-size: .8rem;

    }

}








@media only screen and (min-width:768px) {
    .board {
        margin-top: 10rem;
        width: 380px;
        height: 380px;
        display: grid;
        align-self: center;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    }

    #turn {
        position: relative;
        top: 2%;

        font-size: 1.5rem;
    }

    .cell {
        font-size: 80px;
    }



    nav p {
        font-size: 1.3rem;

    }


}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}